<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Inicio</h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                              <button class="btn btn-default" type="button">Go!</button>
                          </span>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="height:600px;">
          <div class="x_title">
            <% if current_user.status == "1" %>
		<h3> Leiam o <a href="https://docs.google.com/document/d/1p1cIM1gamuA-IOodTjgI0X1oB8FQD2BWh-J2lhKSBzM/edit" target="_blank" style="color: blue; text-decoration: "underline"> Plano do Headstart </a> </h3>
		<h4> Podem ler também o <a href="https://docs.google.com/document/d/1S29Glqc5nrzpvN0z1saLfQZAxJGK-igao2gnu5MTGyg/edit" target="_blank" style="color: blue; text-decoration: "underline" > Guia rápido de alterações dos itens e do META </a> </h4>
	    <% end %>
            <% if current_user.status == "2" %>
              Aguarde a confimação por meio de um Oficial
            <% end %>
            <% if current_user.status == "3" %>
              Entre no nosso TS: ts3.honornglory.com nos horarios de 16:00 e 21:00 para a entrevista de recrutamento (caso já tenha feito, aguarde a confirmação)
            <% end %>
            <% if current_user.status == "4"%>
              Você saiu ou foi expulso da guild na data: <%= current_user.update_at.to_formatted_s(:short) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->

<!--Test Page specific JS -->
